body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/029/563/051/small_2x/a-machine-tool-and-other-machines-sitting-on-a-black-background-free-photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: black;
}


label{
    display: block;
    font-size: large;
    margin-left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    
}

input{
    margin-left: 30px;
    border:6px solid black;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input[type ~= "submit"]{
    border: 2px solid white;
    color: white;
    width: 400px;
    height: 38px;
    background-color: black;
    margin-bottom: 10px;
    margin-left: 100px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#Comment{
    margin-left: 30px;
    border:6px solid black;
    height: 80px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
}

.rectangle {
    height: 950;
    width: 600px;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    caption-side: top;
  }

  .caption{

    margin-left: 35px;
    font-size:40px;
  }

